<footer class="site-footer">
	<nav class="main-nav">
		<ul>
			<li><a id="about" href="/about">About</a></li>
			<li><a id="work" href="/work">Work</a></li>
			<li><a id="blog" href="/blog">Blog</a></li>
			<li><a id="contact" href="/contact">Contact</a></li>
		</ul>
	</nav>
</footer>

<div class="bg bg2" id="bg2">
  
</div>

<div class="bg bg1" id="bg">
  
</div>

<div class="bg bg3" id="bg3">
  
</div>

<div class="bg bg4" id="bg4">
  
</div>

<div class="bg bg5" id="bg5">
  
</div>

<div id="overlay" class="bcolour">
  
</div>


<div class="page about" id="about-page">
	<div class="wrap">
		<h1>About</h1>
		This is the about section.
	</div>
</div>

<div class="page work" id="work-page">
	<div class="wrap">
		<h1>Work</h1>
		This is the work section.
	</div>
</div>

<div class="page blog" id="blog-page">
	<div class="wrap">
		<h1>Blog</h1>
		This is the blog section.
	</div>
</div>

<div class="page contact" id="contact-page">
	<div class="wrap">
		<h1>Contact</h1>
		This is the contact section.
	</div>
</div>


