<header class="site-header wrap">

  <div id="site-title" class="site-title">
    <a href="{{ site.baseurl }}" class="home-link">
      <h1>Tim Cartwright</h1>
      <h3>Web Developer</h3>
    </a>
  </div>

  <div id="top-nav">
    <nav class="main-nav">
      <ul>
        {% include links.html %}
      </ul>
    </nav>
  </div>
  
  <div id="social-buttons">
    <nav class="social-buttons">
      <ul>
        <li><a href=""><i class="fa fa-github"></i></a></li>
        <li><a href=""><i class="fa fa-facebook"></i></a></li>
        <li><a href=""><i class="fa fa-twitter"></i></a></li>
      </ul>
    </nav>
  </div>

</header>
