<div class="post-list">
  {% for post in site.posts %}
      <h3 class="post-title">
        <a href="{{ post.url | prepend: site.baseurl }}">
            {{ post.title }}
         </a>
      </h3>
      <p class="post-meta">
        {{ post.date | date: '%-d %B, %Y' }}
      </p>
      <p>
        <a href="{{ post.url | prepend: site.baseurl }}">
          {% if post.image %}
            <img class="featured-image" src="{{ site.baseurl }}/images/{{ post.image }}" />
          {% endif %}
        </a>
      </p>
      <p class="post-excerpt">
        {{ post.excerpt }}
      </p>
   <hr>
  {% endfor %}
</div>