body {
  overflow: hidden;
	font-family: $main-font;
	background-color: $light-bg-color;
}

.wrapper {
  height: 100vh;
  width: 100%;
}

.wrap {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 20px;
}

nav {
  
  i {
    color: $white;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      padding: 0 1vw;
      font-size: 1.333em;
      line-height: 2;
      text-transform: lowercase;

      a {

        &, &:visited, &:active, &:hover {
          color: $white;
        }
      }
    }
  }
}

hr {
  color: #dddddd;
  margin: 8rem 0;
}

hr:last-child {
  display: none;
}

img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

a {	
	color: $primary-color;
	text-decoration: none;
	transition: 0.3s;

	&, &:visited {
		color: $primary-color;
	}

	&:hover, &:active {
		color: $primary-color;
		text-decoration: none;
	}
}

.page-heading, .section-heading {
  text-align: center;
}

.hover-effect {
  opacity: 1 !important;
}

.active-effect {
  opacity: 1;
}

.hidden {
  top: 100%; 
}
