html {
	font-size: 100%;
}

body {
	font-family: $main-font;
	background-color: $light-bg-color;
}

a {	
	color: $primary-color;
	text-decoration: none;
	transition: 0.3s;

	&, &:visited {
		color: $primary-color;
	}

	&:hover, &:active {
		color: $primary-color;
		text-decoration: none;
	}
}
