.me-in-the-middle {
	width: 100%;
	height: 80vh;
	margin-top: 20vh;
	text-align: center;
	font-size: 3em;
	font-weight: 300;
	color: $white;
	position: absolute;

	div {
		@include vertical-center;
		top: 30vh;
	}
}

.site-footer {
	width: 100%;
	position: absolute;
	bottom: 81px;
	z-index: 1;
}

#home-nav {
	margin: 0 auto;
	max-width: 1120px;
	text-align: center;

	li {
		position: relative;
		width: 120px;

		a {
			opacity: 0.7;
			-webkit-transition: margin-top 0.2s;
			-moz-transition: margin-top 0.2s;
			transition: 0.2s;
			

			i {
			font-size: 2em;
			-webkit-transition: margin-top 0.2s;
			-moz-transition: margin-top 0.2s;
			transition: 0.1s;
			position: absolute;
		    top: -80px;
		    left: 50%;
		    transform: translateX(-50%);
		}

			h3 {
				color: $white;
				font-weight: normal;
				position: relative;
				opacity: 0.7;

				&:before {
				content: '';
			    position: absolute;
			    background: #ffffff;
			    width: 60px;
			    height: 2px;
			    top: -10px;
			    left: 50%;
			    margin: 0 0 0 -30px;
			    -webkit-transition: margin-top 0.2s;
			    -moz-transition: margin-top 0.2s;
			    transition: 0.2s;

				}

			}

			&:hover {
				opacity: 1;

				i {
					top: -60px;
				}

				h3 {
					
					opacity: 1;

					&:before {
						top: 35px;
					}
				}
			}
			
		}
	}

}