.me-in-the-middle {
	max-width: 1120px;
	height: 100vh;
	margin: 0 auto;
	text-align: center;
	font-size: 6em;
	font-weight: 300;
	color: $white;
	@include vertical-center;
}

.site-footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	padding-bottom: 100px;
	z-index: 1;
}

#home-nav {
	margin: 0 auto;
	max-width: 1120px;
	text-align: center;

}

#back-nav i {
	position: relative;
	top: 5px;
    padding-right: 20px;
}