.post-list {

	.post-title {
		text-align: center;
	}

	a {	
	color: $dark-font-color;
	text-decoration: none;
	transition: 0.3s;

		&, &:visited {
			color: $dark-font-color;
		}

		&:hover, &:active {
			color: $primary-color;
			text-decoration: none;
		}
	}

}