$main-font: 'Neuzeit', sans-serif;
$primary-color: #F9690E;
$light-font-color: #b1adb0;
$dark-font-color: #585457;
$inverse-font-color: #f0f0f0;
$light-bg-color: #ffffff;
$mid-bg-color: #f0f0f0;
$off-white: #fafafa;
$white: #fff;