
@font-face {
  font-family: 'NeuzeitSLTW01-Book';
  src: url('NeuzeitSLTW01-Book.eot?#iefix') format('embedded-opentype'),  url('NeuzeitSLTW01-Book.woff') format('woff'), url('NeuzeitSLTW01-Book.ttf')  format('truetype'), url('NeuzeitSLTW01-Book.svg#NeuzeitSLTW01-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}
