---
layout: home
---
<div id="back-nav">
  <a href="{{ site.baseurl }}work/"><i class="fa fa-angle-left fa-2x"></i>Work</a>
</div>
<h2 class="page-heading">{{ page.title }}</h2>
<section id="posts">
  <div class="wrap big-spacer">
      <article class="post-content">
        <header class="post-header">
        </header>
        <p>
            {% if page.image %}
                  <img class="featured-image" src="{{ site.baseurl }}/images/{{ page.image }}" />
            {% endif %}
        </p>

        {{ content }}
      
      </article>
  </div>
</section>